<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TicTacToe</title>

        <link href="styling/css/TicTacToe_Common.css" rel="stylesheet">
        <link href="styling/css/TicTacToe_Main.css" rel="stylesheet">

        <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="bower_components/underscore/underscore-min.js" type="text/javascript"></script>
        <script src="bower_components/backbone/backbone-min.js" type="text/javascript"></script>
    </head>
    <body>
        <section class="players">
            <script type="text/template" id="players-template">
                <div class="player">O <%= playerOneName %></div>
                <div class="player">X <%= playerTwoName %></div>
            </script>
        </section>
        <section class="playing-table">
            <script type="text/template" id="cell-template">
                <div class="cell" data-cellid="<%= cellid %>"></div>
            </script>
        </section>
        <script src="js/TicTacToe_Main.js"></script>
        <script src="js/backbone/models/App_Model_Prompt.js"></script>
        <script src="js/backbone/models/App_Model_Player.js"></script>
        <script src="js/backbone/models/App_Model_Cell.js"></script>
        <script src="js/backbone/views/App_View_PlayerNames.js"></script>
        <script src="js/backbone/views/App_View_Cell.js"></script>
        <script src="js/backbone/views/App_View_TableRow.js"></script>
        <script src="js/backbone/collections/App_Collection_Players.js"></script>
        <script src="js/backbone/collections/App_Collection_Cells.js"></script>
    </body>
</html>