// @author: igor.caviroski
//
// Definitions for styling
//

/* Fonts */

$ticTacToeFontFamily: Arial, sans-serif;

$ticTacToeFontSize: 50px;

$ticTacToeFontWeight: 200;

/* Colors */

$ticTacToeColor1: #000000;