// @author: igor.caviroski
//
// Common styling
//
// ==========================================================================

@import "TicTacToe_Definitions";

// ==========================================================================

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: $ticTacToeFontFamily;
    font-size: $ticTacToeFontSize;
}